#code-review-widget(ng-controller='ReviewController as rwCtrl' md-theme='reviewWidget')
	md-card.md-whiteframe-z3
		md-toolbar.md-primary
			.md-toolbar-tools
				h2.md-flex Code review requests
		md-select(ng-model='rwCtrl.period.value' aria-label='select period')
			md-option(ng-repeat='period in rwCtrl.periods' value='{{period.value}}') Upcoming {{period.text}}
		md-content(ng-class="{showMenu: isReviewShow}")
			.list-item(ng-if='rwCtrl.upcoming[rwCtrl.period.value].length === 0')
				.item-content
					.align-center Nothing
			.list-item(ng-repeat='request in rwCtrl.upcoming[rwCtrl.period.value]')
				.item-content
					img.avatar(ng-src='{{request.user.avatar}}' alt='avatar')
					.info
						b Title: 
						| {{request.title}}
						br
						b Author: 
						| {{request.user.first_name}} {{request.user.last_name}}
						br
						b Group: 
						| {{request.group.title}}
						br
						b Coming: 
						| {{request.date_review}}
					.align-center
						md-button.md-raised.md-primary(ng-if='!rwCtrl.getRequestStatus(request)') Send offer
						md-button.md-raised.md-warn(ng-if='rwCtrl.getRequestStatus(request)') Cancel offer
						md-button.md-raised(ng-click='rwCtrl.showDetails($event, request)') Details
				md-divider(ng-if='!$last')