extends ./layout.jade

block content
	#news-viev(ng-controller='NewsController as newsCtrl')
		header
			i#menu-btn.fa.fa-bars(ng-click="isMenuShow = !isMenuShow")
			span {{newsCtrl.text}}
			#user-log
				button.btn.btn-warning Log out
		aside#left
			code-review-widget
			expense-widget
		aside#right
			poll-widget
			hr-widget
			#left-block
				code-review-widget
				expense-widget
		#content
			.tabsdemoDynamicHeight
				md-content(ng-class="{showMenu: isMenuShow}" )
					md-tabs( md-stretch-tabs md-selected="selectedIndex" )
						md-tab(ng-class="{md-active:newsCtrl.isActive('/company')}")
							a(href='#/company' ) Company news
						md-tab(ng-class="{md-active:newsCtrl.isActive('/sandbox')}")
							a(href ='#/sandbox') Sandbox
						md-tab
							a(href ='#/weekly') weekly
						md-tab
							a(href ='#/activity') activity log
			#main(ng-view flex)