extends ./layout.jade

block content
	#news-viev
		header#header
		aside#left
			code-review-widget
			expense-widget
		aside#right
			poll-widget
			hr-widget
			stack-widget
			#left-block
				code-review-widget
				expense-widget
		#content(ng-controller='NewsController as newsCtrl')
			.tabsdemoDynamicHeight
				md-content(ng-class="{showMenu: isMenuShow}")
					md-tabs(md-dynamic-height='', md-border-bottom='' md-stretch-tabs='' md-selected="newsCtrl.selectedIndex" )
						md-tab(ng-click='newsCtrl.switchTab("/company")')
							| Company news
						md-tab(ng-click='newsCtrl.switchTab("/sandbox")')
							| Sandbox
						md-tab(ng-click='newsCtrl.switchTab("/weekly")')
							| weekly
						md-tab(ng-click='newsCtrl.switchTab("/activity")')
							| activity log
			#main(ng-view)