extends ./layout.jade

block content
	#news-viev
		header
			i#menu-btn.fa.fa-bars(ng-click="isMenuShow = !isMenuShow")
			span {{newsCtrl.text}}
			#user-log
				span {{newsCtrl.author}}
				button.btn.btn-warning Log out
		aside#left
			code-review-widget
			expense-widget
		aside#right
			poll-widget
			hr-widget
			#left-block
				code-review-widget
				expense-widget
		#content
			.tabsdemoDynamicHeight
				md-content(ng-class="{showMenu: isMenuShow}")
					md-tabs(md-dynamic-height='', md-border-bottom='' md-stretch-tabs='' md-selected="selectedIndex" )
						md-tab
							a(href='#/company') Company news
						md-tab
							a(href ='#/sandbox') Sandbox
						md-tab
							a(href ='#/weekly') weekly
						md-tab
							a(href ='#/activity') activity log
			#main(ng-view)