extends ./layout.jade

block content
	#news-viev(ng-controller='NewsController as newsCtrl')
		header#header
		#all-content
			aside#left(ng-class='{"show-gen-menu": newsCtrl.showIntranet}')
				#intranet-container
					ul#nav-list
						li.nav-item(ng-repeat='service in newsCtrl.services')
							a(href='{{service.link}}')
								img(ng-src='{{service.logo}}')
								span(ng-bind='service.name')
			ul.mobile-aside
				li
					i.icon-widget.fa.fa-sticky-note-o
					div
						poll-widget
				//- li
				//- 	i.icon-widget.fa.fa-users
				//- 	div
				//- 		hr-widget
				li
					i.icon-widget.fa.fa-question
					div
						stack-widget
				li
					i.icon-widget.fa.fa-code
					div
						code-review-widget
				//- li(ng-if='newsCtrl.showExpenseWidget')
				//- 	i.icon-widget.fa.fa-money
				//- 	div
				//- 		expense-widget

			aside#right(ng-class='{"show-gen-menu": newsCtrl.showWidgets}')
				#widget-container
					poll-widget
					//- hr-widget
					stack-widget
					code-review-widget
			#modal-menus(ng-class='{"show-gen-menu": newsCtrl.genMenu}')
				#menus-wrapper
					.gen-menu-item.show-549(ng-click='newsCtrl.showMenu("news")') News navigation
					.gen-menu-item.show-1119(ng-click='newsCtrl.showMenu("widgets")') Widgets
					.gen-menu-item.show-1279(ng-click='newsCtrl.showMenu("intranet")') Intranet navigation
			#fake-nav(ng-class='{"show-gen-menu": newsCtrl.showNews}')
				ul
					li(ng-click='newsCtrl.switchTab(tab.url);newsCtrl.resetEditingForms();newsCtrl.newsFilter = "";' ng-repeat='tab in newsCtrl.tabs')
						span.tab-text {{tab.name}}
			#content
				.tabsdemoDynamicHeight
					md-content
						md-tabs(md-dynamic-height='', md-border-bottom='' md-stretch-tabs='' md-selected="newsCtrl.selectedIndex" )
							md-tab(ng-click='newsCtrl.switchTab(tab.url);newsCtrl.resetEditingForms();newsCtrl.newsFilter = "";' ng-repeat='tab in newsCtrl.tabs')
								span.tab-text {{tab.name}}
							//- md-tab(ng-click='newsCtrl.switchTab("/company");newsCtrl.resetEditingForms();newsCtrl.newsFilter = "";')
							//- 	span.tab-text
							//- 		| Company news
							//- md-tab(ng-click='newsCtrl.switchTab("/sandbox");newsCtrl.resetEditingForms();newsCtrl.newsFilter = "";')
							//- 	span.tab-text
							//- 		| Sandbox
							//- md-tab(ng-click='newsCtrl.switchTab("/weeklies");newsCtrl.resetEditingForms();newsCtrl.newsFilter = "";')
							//- 	span.tab-text
							//- 		| Weeklies
							//- md-tab(ng-click='newsCtrl.switchTab("/administration")')
							//- 	span.tab-text
							//- 		| Administration
				#main(ng-view when-scrolled="newsCtrl.loadMore()")