doctype html
html(lang="en")
	head
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		title News
		link(href="/news/images/favicon.png", rel="icon" type="image/png")
		link(href="/news/styles/css/libs.css", rel="stylesheet")
		link(href="/news/styles/css/style.css", rel="stylesheet")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

	body
		block content
		script(src="/news/javascripts/libs.js")
		script(src='/news/javascripts/main.js')
		script(type='text/javascript', src='/news/libs/tinymce.js')
		script.
			angular.bootstrap(document, ['news']);