#add-expense-widget(md-theme='addExpenseWidget')
	md-card.md-whiteframe-z3
		md-toolbar.md-primary
			.md-toolbar-tools
				h2.md-flex Add expense
		md-content(ng-class="{showMenu: isExpenseShow}")
			form.expense-form(name="expenseForm", ng-init="showMoneyLeft = false",
				ng-submit="expenseForm.$valid && formCtrl.createExpense(categoryModel, subcategoryModel)", novalidate)
				md-input-container.input-container
					label Expense name
					input(type="text", name='Name', ng-model="formCtrl.expense.name", typeahead="expense.name for expense in expCtr.allExpenses | filter:$viewValue | limitTo:8", required)
				md-input-container.input-container
					label Date
					input(type='date', name='Date', ng-model="formCtrl.date", required)
				md-input-container.input-category-container
					md-select(name='Category', ng-model="categoryModel", placeholder="Category", ng-change="formCtrl.getSubcategories(categoryModel); showMoneyLeft = false",
						aria-label="Category", required)
						md-option(ng-value="categoryModel", ng-repeat="categoryModel in formCtrl.categories") {{categoryModel.name}}
				md-input-container.input-category-container
					md-select(name='Subcategory', ng-model="subcategoryModel", placeholder="Subcategory", ng-change="formCtrl.setLeftSubcategoryBudget(categoryModel, subcategoryModel); showMoneyLeft = true",
						aria-label="Subcategory", required)
						md-option(ng-value="subcategoryModel", ng-repeat="subcategoryModel in formCtrl.subcategories") {{subcategoryModel.name}}
				md-input-container#input-left-container
					label Cost
					input(type='number', min="0", name='Cost', ng-model="formCtrl.expense.price", required)
				md-input-container#input-right-container
					md-select(name='Currency', ng-model="formCtrl.expense.currency", ng-change="formCtrl.changeCurrency(categoryModel, subcategoryModel)", aria-label="Currency", required)
						md-option(ng-value="currency", ng-repeat="currency in formCtrl.currencies") {{currency}}
				md-checkbox#personal-check(name='Personal', ng-model="isPersonal", aria-label="Personal budget", ng-click="formCtrl.setPersonal(isPersonal); formCtrl.setPersonalLeftBudget(categoryModel, subcategoryModel)")
					| Personal budget
				md-input-container.input-container
					label Description
					textarea(ng-model="formCtrl.expense.description")
				.money-left(ng-show="showMoneyLeft")
					#form-category-left
						b {{formCtrl.budgetType}} budget left:
						span.green  {{formCtrl.leftBudget - formCtrl.expense.price | currency:""}} {{formCtrl.expense.currency}}
					#form-subcategory-left(ng-hide="formCtrl.expense.personal")
						b {{subcategoryModel.name}} budget left:&nbsp;
						span.green {{formCtrl.leftSubcategoryBudget - formCtrl.expense.price | currency:""}} {{formCtrl.expense.currency}}
				button#add-expense-button.md-raised.md-primary.md-button.md-default-theme(type="submit") Add expense