#stack-widget
	md-card.md-whiteframe-z3
		md-toolbar.md-primary
			.md-toolbar-tools
				h2.md-flex Questions
		md-select(ng-model='stackCtrl.type', ng-change='stackCtrl.getQuestions(stackCtrl.type)')
			md-option(value='recent') Recent
			md-option(value='commented') Top commented
			md-option(value='popular') Popular
			md-option(value='upvoted') Upvoted
		md-content
			.list-item(ng-repeat='question in stackCtrl.questions')
				a(href="{{question.url}}").item-content
					div.stack-av
						img(src="{{question.user.avatar}}", class='img-thumbnail')
					div.stack-body
						b {{question.title}}
						div.stack-votes
							i(class="fa fa-comments-o fa-1")
							|  {{question.answers_count}}&nbsp;
							i(class="fa fa-thumbs-up fa-1")
							|  {{question.vote_value}}
