#stack-widget(md-theme="stackWidget")
	md-card.md-whiteframe-z3
		md-toolbar.md-primary
			.md-toolbar-tools
				h2.md-flex Questions
		//- md-select(ng-model='rwCtrl.period.value' aria-label='select period')
		//- 	md-option(ng-repeat='period in rwCtrl.periods' value='{{period.value}}') {{period.text}}
		md-content
			.list-item(ng-repeat='question in stackCtrl.questions')
				.item-content
					div.stack-av
						img(src="{{question.user.avatar}}", class='img-thumbnail')
					div.stack-body
						b {{question.title}}
						div.stack-votes
							i(class="fa fa-comments-o fa-1")
							|  {{question.answers_count}}&nbsp;
							i(class="fa fa-thumbs-up fa-1")
							|  {{question.vote_value}}

					//- div
					//- 	b Group: 
					//- 	| {{question.folder.title}}
					//- div
					//- 	b Author: 
					//- 	| {{question.user.first_name}} {{question.user.last_name}}
				//- md-divider(ng-if='!$last')
