#poll-widget(ng-controller="PollController as pollCtrl", md-theme='pollWidget')
    md-card.md-whiteframe-z3
        md-toolbar.md-primary(ng-click="isPollShow = !isPollShow")
            .md-toolbar-tools
                h2.md-flex &nbsp;Questionnaire
        md-content(ng-class="{showMenu: isPollShow}")
            //.section-container
            //    i.fa.fa-question-circle
            //    strong &nbsp;Section:&nbsp;
            //    span {{ pollCtrl.currentSection.name }}
            //md-divider.divider
            form#vote-form(name="voteForm", ng-controller="VoteFormController as voteCtrl",
                ng-submit="voteCtrl.sendVote(); pollCtrl.showResults()", ng-if="!pollCtrl.isShowConfirm", novalidate)
                strong {{ pollCtrl.currentQuestion.name }}
                md-divider.divider
                md-radio-group.md-primary(ng-model="pollCtrl.selectedElement")
                    md-input-container.answer-container(ng-if="pollCtrl.currentQuestion.type == 'text'")
                        label Answer
                        textarea.form-control(type="text", required)
                    md-radio-button.option-radio(ng-repeat="option in pollCtrl.currentQuestion.options", name="vote-option",
                        ng-model="voteCtrl.vote.option", ng-if="pollCtrl.currentQuestion.type != 'text'", ng-value="option" aria-label="{{ option.text }}")
                            | {{ option.text }}
                md-divider.divider
                md-button#vote-button.md-raised.md-primary.md-button.md-default-theme(type="submit") Vote
            .confirm-container(ng-if="pollCtrl.isShowConfirm")
                i.fa.fa-check
                strong &nbsp;Thank you for answers