#news-viev
	header
		span {{newsCtrl.text}}
		#user-log
			span {{newsCtrl.user}}
			button.btn.btn-warning Log out
	nav
	aside
		poll-widget
	#content
		.search
			input.form-control(type='text', placeholder='Search' ng-model="search.title")
			button.btn.btn-success(type='button' ng-click='newsCtrl.toggleForm()') New post
		#scroll-block
			.news
				form.news-massage(method="post" ng-hide='newsCtrl.formView')
					.form-group
						input.form-control(type='text' placeholder='Title' ng-model='newsCtrl.titleNews' required)
						textarea(ui-tinymce='newsCtrl.tinymceOptions', ng-model="newsCtrl.bodyNews" required)
					button.btn.btn-success(type='submit' ng-click='newsCtrl.createNews()') Create
					button.btn.btn-warning(type='reset' ng-click='newsCtrl.toggleForm()') Cancel
					
				.news-massage(ng-repeat='news in newsCtrl.posts | filter: search track by $index ')
					.title {{news.title}}
						i.fa.fa-times.delete-post(ng-click='newsCtrl.deleteNews($index)' )
					.body
						div(ng-bind-html='news.body| unsafe')
								//-p{{news.body | limitTo: newsCtrl.textLength[$index] || 200 }}
							span(ng-hide='news.body.length < 200 ')
								a.load-more(href='' ng-click='newsCtrl.loadMore($index)' ng-hide='newsCtrl.toggleText[$index]') more
								a.load-more(href='' ng-click='newsCtrl.loadMore($index)' ng-show='newsCtrl.toggleText[$index]') less
					.footer
						span.author {{news.author||newsCtrl.user}} on {{news.date | date:'yyyy-MM-dd HH:mm'}}
						span 
							a(ng-click='newsCtrl.toggleCommentForm($index)')
								|comment
						span.comments-count
							i.fa.fa-commenting-o(ng-click='newsCtrl.toggleComments($index)') {{news.comments.length}}
						span.likes
							i.fa.fa-thumbs-o-up(ng-click='newsCtrl.like($index)') {{news.likes.length}}

					.comments(ng-show='newsCtrl.commentForm[$index]')
						textarea.form-control(ui-tinymce='newsCtrl.tinymceOptions' ng-model="newsCtrl.commentText[$index]" placeholder='Comment')
						button.btn.btn-info.form-control(type='submit' ng-click='newsCtrl.newComment($index)') Add comment
					.comment-wrap
						.comment(ng-repeat='comment in news.comments' ng-hide='newsCtrl.commentsViev[$parent.$index]')
							i.fa.fa-times.delete-post(ng-click='newsCtrl.deleteComment($parent.$index, $index)') 
							span.author {{comment.author}}
							.body(ng-bind-html='comment.text| unsafe')
							span {{comment.date | date:'yyyy-MM-dd HH:mm'}}
							i.fa.fa-thumbs-o-up(ng-click='newsCtrl.commentLike($parent.$index, $index)') {{comment.commentLikes.length}}