#hr-widget(ng-controller="HRController as hrCtrl")
	md-card.md-whiteframe-z3
		md-toolbar.md-primary
			.md-toolbar-tools
				h2.md-flex Latest HR activity log
		md-content(ng-class="{showMenu: isHrShow}")
			.list-item(ng-repeat='action in hrCtrl.activities')
				.item-content
					a.message(href='{{action.url}}') {{action.message}}
					.author {{action.userAlias}} on {{action.time}}
				md-divider(ng-if='!$last')