md-content#company
	.search
		md-input-container
			md-icon.fa.fa-search
			input(type='text', placeholder='Search' ng-model="newsCtrl.newsFilter")
		md-button.md-raised.md-primary(type='button' ng-click='newsCtrl.toggleForm()' ng-if='newsCtrl.WhyCouldntYouMadeThisVariableUser.role === "ADMIN"') New post

	form.news-message(name="newsForm" ng-if='!newsCtrl.formView' ng-submit="newsForm.$valid && newsCtrl.createNews('company')" novalidate)
		.form-group
			input.form-control(type='text' name='title' placeholder='Title' ng-model='newsCtrl.titleNews' required)
			div(ng-class='{validation: !newsCtrl.bodyNews}')
				textarea(ui-tinymce='newsCtrl.tinymceOptions', ng-model="newsCtrl.bodyNews" required)
		//- md-chips(ng-model='newsCtrl.selectedCategories', md-autocomplete-snap='', md-require-match='')
		//- 	md-autocomplete(md-selected-item='newsCtrl.selectedCategory', md-search-text='newsCtrl.searchCategory', md-items='category in newsCtrl.queryCategory(newsCtrl.searchCategory)', md-item-text='category.role', placeholder='Show only for:')
		//- 		span {{category.role}} 
		//- 	md-chip-template
		//- 		span
		//- 			strong {{$chip.role}}
		//- br
		//- md-chips(ng-model='newsCtrl.selectedNames', md-autocomplete-snap='', md-require-match='')
		//- 	md-autocomplete(md-selected-item='newsCtrl.selectedUser', md-search-text='newsCtrl.searchText', md-items='user in newsCtrl.queryUsers(newsCtrl.searchText)', md-item-text='user.name', placeholder='Show for all except:')
		//- 		span {{user.name}} {{user.surname}}
		//- 	md-chip-template
		//- 		span
		//- 			strong {{$chip.name}}
		//- br
		//- md-button.md-raised.md-primary(type='submit' ng-click='newsCtrl.createNews("company")') Create
		md-button.md-raised.md-primary(type='submit') Create
		md-button(type='reset' ng-click='newsCtrl.toggleForm()') Cancel

	.news
		.news-message(ng-repeat='news in newsCtrl.companyPosts | filter: newsCtrl.newsSearch track by $index ')
			.title
				span(ng-click="newsCtrl.showModalPost(news._id, true)") {{news.title}}
				span.comments-count(ng-if='newsCtrl.checkRights(news.author)')
					md-button.md-icon-button.fa.fa-pencil-square-o(aria-label='edit' ng-click='newsCtrl.submitBtn($index)' ng-show='!newsCtrl.edit[$index]')
						md-tooltip Edit
					md-button.md-icon-button.fa.fa-trash-o(aria-label='delete' ng-click='newsCtrl.deleteNews(news._id)' ng-show='!newsCtrl.edit[$index]')
						md-tooltip Delete
					md-button.md-icon-button.fa.fa-undo(aria-label='cancel' ng-click='newsCtrl.submitBtn($index)' ng-show='newsCtrl.edit[$index]')
						md-tooltip Cancel
					md-button.md-icon-button.fa.fa-floppy-o(aria-label='save' ng-click='newsCtrl.editpost(news._id, newsCtrl.newpost, news.restrict_ids, news.access_roles);newsCtrl.submitBtn($index)' ng-show='newsCtrl.edit[$index]')
						md-tooltip Save
			.body
				div(ng-if='!newsCtrl.edit[$index]', style='white-space: pre-wrap')
					div.inner-news(ng-bind-html='news.body | unsafe')
				div(ng-if='newsCtrl.edit[$index]')
					textarea(ng-init= 'newsCtrl.newpost=news.body' ng-model='newsCtrl.newpost', ui-tinymce='newsCtrl.tinymceOptions')
					//- md-chips(ng-model='news.access_roles' md-autocomplete-snap='', md-require-match='')
					//- 	md-autocomplete(md-selected-item='newsCtrl.selectedCategory', md-search-text='newsCtrl.searchCategory', md-items='category in newsCtrl.queryCategory(newsCtrl.searchCategory)', md-item-text='category.role', placeholder='Show only for:')
					//- 		span {{category.role}} 
					//- 	md-chip-template
					//- 		span
					//- 			strong {{newsCtrl.rolesIdConvert($chip)}}
					//- br
					//- md-chips(ng-model='news.restrict_ids', md-autocomplete-snap='', md-require-match='')
					//- 	md-autocomplete(md-selected-item='newsCtrl.selectedUser', md-search-text='newsCtrl.searchText', md-items='user in newsCtrl.queryUsers(newsCtrl.searchText)', md-item-text='user.name', placeholder='Show for all except:')
					//- 		span(md-highlight-text='newsCtrl.searchText') {{user.name}} 
					//- 	md-chip-template
					//- 		span
					//- 			strong {{newsCtrl.userIdConvert($chip)}}
					br
					md-button.md-raised.md-primary(ng-click='newsCtrl.editpost(news._id, newsCtrl.newpost, news.restrict_ids, news.access_roles);newsCtrl.submitBtn($index)') Save
					md-button(ng-click='newsCtrl.submitBtn($index)') Cancel
						//-p{{news.body | limitTo: newsCtrl.textLength[$index] || 200 }}
					//- span(ng-hide='news.body.length < 200 ')
					//- 	a.load-more(href='' ng-click='newsCtrl.loadMore($index)' ng-hide='newsCtrl.toggleText[$index]') more
					//- 	a.load-more(href='' ng-click='newsCtrl.loadMore($index)' ng-show='newsCtrl.toggleText[$index]') less
			.footer
				span.author {{newsCtrl.userIdConvert(news.author)}}
				span on {{news.date | date:'yyyy-MMM-dd HH:mm'}}
				span.comments-count
					md-button.md-icon-button.fa.fa-commenting-o(aria-label='Coment' ng-click='newsCtrl.toggleCommentForm($index)')  {{news.comments.length}}
						md-tooltip Comment
					md-button.md-icon-button.fa.fa-thumbs-o-up(ng-click='newsCtrl.newsLike(news._id, newsCtrl.user, $index, "company")')  {{news.likes.length}}
			.comments(ng-if='newsCtrl.commentForm[$index]')
				form#comment-form(name='newCommentForm' ng-submit="newCommentForm.$valid && newsCtrl.newComment(commentText, news._id, $index)" novalidate)
					div(ng-class='{validation: !newsCtrl.commentText}')
						textarea.form-control(ui-tinymce='newsCtrl.tinymceOptions' ng-model="commentText" placeholder='Comment' required)
						//- button.btn.btn-info.form-control(type='submit' ng-click='newsCtrl.newComment(commentText, news._id, $index)') Add comment
					md-button.md-raised.md-primary(type='submit') Add comment
					md-button(ng-click='newsCtrl.toggleCommentForm($index)') Cancel
			.comment-wrap
				.comment(ng-repeat='comment in news.comments')
					i.fa.fa-times.delete-post(ng-click='newsCtrl.deleteComment(news._id, comment._id)' ng-if='newsCtrl.checkRights(comment.author)') 
					.body(ng-bind-html='comment.body| unsafe')
					span.author {{newsCtrl.userIdConvert(news.author)}}
					span on {{comment.date | date:'yyyy-MMM-dd HH:mm'}}
					span.right-thumb
						md-button.md-icon-button.fa.fa-thumbs-o-up(ng-click='newsCtrl.commentLike(news._id, comment._id)')  {{comment.likes.length}}
