md-dialog(aria-label='post.title')
   form
      md-toolbar
         .md-toolbar-tools
            h2 {{ post.title }}
            span(flex='')
      md-dialog-content
         .body
            div(ng-bind-html='post.body | unsafe')
         .footer
            span.author {{post.author.name}} on {{post.date | date:'yyyy-MM-dd HH:mm'}}
            span.comments-count
               md-button.md-icon-button.fa.fa-commenting-o(aria-label='Comment' ng-click='toggleCommentForm = !toggleCommentForm') {{post.comments.length}}
                  md-tooltip Comment
               md-button.md-icon-button.fa.fa-thumbs-o-up(ng-click='newsCtrl.like($index); showNewsThunmbs =!showNewsThunmbs' ng-hide='showNewsThunmbs' ) {{post.likes.length}}
               md-button.md-icon-button.fa.fa-thumbs-up(ng-click='newsCtrl.like($index); showNewsThunmbs =!showNewsThunmbs' ng-show='showNewsThunmbs' ) {{post.likes.length}}
         .comments(ng-if='toggleCommentForm')
            textarea.form-control(ui-tinymce='newsCtrl.tinymceOptions' ng-model="newsCtrl.commentText[$index]" placeholder='Comment')
            button.btn.btn-info.form-control(type='submit' ng-click='newsCtrl.newComment($index, news._id)') Add comment
         .comment-wrap
            .comment(ng-repeat='comment in post.comments')
               i.fa.fa-times.delete-post(ng-click='newsCtrl.deleteComment($parent.$index, $index)')
               span.author {{comment.author.name}}
               .body(ng-bind-html='comment.body| unsafe')
               span {{comment.date | date:'yyyy-MM-dd HH:mm'}}
               span.right-thumb
                  md-button.md-icon-button.fa.fa-thumbs-o-up(ng-click='newsCtrl.commentLike($parent.$index, $index); showThunmbs =!showThunmbs' ng-hide='showThunmbs') {{comment.likes.length}}
                  md-button.md-icon-button.fa.fa-thumbs-up(ng-click='newsCtrl.commentLike($parent.$index, $index); showThunmbs =!showThunmbs' ng-show='showThunmbs') {{comment.likes.length}}