#news-viev
	header
		span {{newsCtrl.text}}
		#user-log
			img(src='http://i.imgur.com/wNqHnG6.png', ,='', alt='user logo')
			span {{newsCtrl.user}}
			button.btn.btn-warning Log out
	nav
	aside
		poll-widget
	#content
		.search
			input.form-control(type='text', placeholder='Search' ng-model="search.title")
			button.btn.btn-success(type='button' ng-click='newsCtrl.toggleForm()') New post
		#scroll-block
			form.news-massage(ng-hide='newsCtrl.formView')
				.form-group
					input.form-control(type='text' placeholder='Title' ng-model='newsCtrl.titleNews' required)
					textarea.form-control(rows="5" cols="20" ng-model="newsCtrl.bodyNews" placeholder='Vrite some news' required)
				button.btn.btn-success(type='submit' ng-click='newsCtrl.createNews()') Create
				button.btn.btn-warning(type='reset') Reset
				
			.news-massage(ng-repeat='news in newsCtrl.posts | filter: search track by $index ')
				img(src='http://www.abramovo.ru/avatary/albums/animated/thumb_bebbdb2368204aab18f6aa25d7317530.gif')
				h3
					a(href='') {{news.title}}
				span.delete-news(ng-click='newsCtrl.deleteNews($index)' ) X
				p {{news.body | limitTo: newsCtrl.textLength[$index] || 200 }}
					span(ng-hide='news.body.length < 200 ')
						a.load-more(href='' ng-click='newsCtrl.loadMore($index)' ng-hide='newsCtrl.toggleText[$index]') more
						a.load-more(href='' ng-click='newsCtrl.loadMore($index)' ng-show='newsCtrl.toggleText[$index]') less
				.person-info
					span {{news.author||newsCtrl.user}}
					span 
					span {{news.date | date:'yyyy-MM-dd HH:mm'}}
				.coments-info
					span.glyphicon.glyphicon-thumbs-up(ng-click='newsCtrl.like($index)') {{news.likes.length}}
					span.glyphicon.glyphicon-comment 5 