#container
	header
		span News
		#user-log
			img(src='http://i.imgur.com/wNqHnG6.png', ,='', alt='user logo')
			span Mike Ross
			button.btn.btn-warning Log out
	nav
	aside
	#content
		.search
			input.form-control(type='text', placeholder='Search')
			button.btn.btn-success(type='button') New post
		#scroll-block
			.news-massage
				img(src='http://www.abramovo.ru/avatary/albums/animated/thumb_bebbdb2368204aab18f6aa25d7317530.gif')
				h3
					a(href='') Nostrud exercitation
				span.delete-news X
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud aliquip ex ea commodo
					| consequat... 
					a.load-more(href='')  more
				.person-info
					span Mike Ross
					span 27.01.2015
				.coments-info
					span.glyphicon.glyphicon-thumbs-up  3
					span.glyphicon.glyphicon-comment  5
			.news-massage
				img(src='http://www.abramovo.ru/avatary/albums/animated/thumb_bebbdb2368204aab18f6aa25d7317530.gif')
				h3
					a(href='') Nostrud exercitation
				span.delete-news X
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud aliquip ex ea commodo
					| consequat... 
					a.load-more(href='')  more
				.person-info
					span Mike Ross
					span 27.01.2015
				.coments-info
					span.glyphicon.glyphicon-thumbs-up  3
					span.glyphicon.glyphicon-comment  5
			.news-massage
				img(src='http://www.abramovo.ru/avatary/albums/animated/thumb_bebbdb2368204aab18f6aa25d7317530.gif')
				h3
					a(href='') Nostrud exercitation
				span.delete-news X
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud aliquip ex ea commodo
					| consequat... 
					a.load-more(href='')  more
				.person-info
					span Mike Ross
					span 27.01.2015
				.coments-info
					span.glyphicon.glyphicon-thumbs-up  3
					span.glyphicon.glyphicon-comment  5
			.news-massage
				img(src='http://www.abramovo.ru/avatary/albums/animated/thumb_bebbdb2368204aab18f6aa25d7317530.gif')
				h3
					a(href='') Nostrud exercitation
				span.delete-news X
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud aliquip ex ea commodo
					| consequat... 
					a.load-more(href='')  more
				.person-info
					span Mike Ross
					span 27.01.2015
				.coments-info
					span.glyphicon.glyphicon-thumbs-up  3
					span.glyphicon.glyphicon-comment  5
			.news-massage
				img(src='http://www.abramovo.ru/avatary/albums/animated/thumb_bebbdb2368204aab18f6aa25d7317530.gif')
				h3
					a(href='') Nostrud exercitation
				span.delete-news X
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud aliquip ex ea commodo
					| consequat... 
					a.load-more(href='')  more
				.person-info
					span Mike Ross
					span 27.01.2015
				.coments-info
					span.glyphicon.glyphicon-thumbs-up  3
					span.glyphicon.glyphicon-comment  5
			.news-massage
				img(src='http://www.abramovo.ru/avatary/albums/animated/thumb_bebbdb2368204aab18f6aa25d7317530.gif')
				h3
					a(href='') Nostrud exercitation
				span.delete-news X
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud aliquip ex ea commodo
					| consequat... 
					a.load-more(href='')  more
				.person-info
					span Mike Ross
					span 27.01.2015
				.coments-info
					span.glyphicon.glyphicon-thumbs-up  3
					span.glyphicon.glyphicon-comment  5