md-content#weekly
	.search
		md-input-container
			md-icon.fa.fa-search
			input(type='text', placeholder='Search' ng-model="search.title")
		md-button(type='button' ng-click='newsCtrl.toggleForm()') New post

	form.news-message(method="post" ng-if='!newsCtrl.formView')
		.form-group
			input.form-control(type='text' placeholder='Title' ng-model='newsCtrl.titleNews' required)
			textarea(ui-tinymce='newsCtrl.tinymceOptions', ng-model="newsCtrl.bodyNews" required)
		md-button.md-create(type='submit' ng-click='newsCtrl.createNews("weekly")') Create
		md-button.md-cancel(type='reset' ng-click='newsCtrl.toggleForm()') Cancel

	.news
		.news-message(ng-repeat='news in newsCtrl.weeklyPosts | filter: search track by $index ')
			.title
				span {{news.title}} {{news.type}}
				md-button.md-icon-button.fa.fa-times.delete-post(aria-label='delete' ng-click='newsCtrl.deleteNews(news._id)' )
				md-button.md-icon-button.fa.fa-pencil-square-o(aria-label='edit' ng-click='edit=!edit; newpost=news.body')
			.body
				div(ng-if='!edit', style='white-space: pre-wrap')
					div(ng-bind-html='news.body | unsafe')
				div(ng-if='edit')
					textarea(ng-model='newpost', ui-tinymce='newsCtrl.tinymceOptions')
					md-button(ng-click='newsCtrl.editpost(news._id, newpost);edit=!edit') submit
						//-p{{news.body | limitTo: newsCtrl.textLength[$index] || 200 }}
					//- span(ng-hide='news.body.length < 200 ')
					//- 	a.load-more(href='' ng-click='newsCtrl.loadMore($index)' ng-hide='newsCtrl.toggleText[$index]') more
					//- 	a.load-more(href='' ng-click='newsCtrl.loadMore($index)' ng-show='newsCtrl.toggleText[$index]') less
			.footer
				span.author(ng-click="newsCtrl.showModalPost(news, true)") {{news.author.name ||newsCtrl.author}} on {{news.date | date:'yyyy-MM-dd HH:mm'}}
				span.comments-count
					md-button.md-icon-button.fa.fa-commenting-o(aria-label='Coment' ng-click='newsCtrl.toggleCommentForm($index)') {{news.comments.length}}
						md-tooltip Comment
					md-button.md-icon-button.fa.fa-thumbs-o-up(ng-click='newsCtrl.newsLike(news._id, newsCtrl.user, $index)') {{news.likes.length}}
			.comments(ng-if='newsCtrl.commentForm[$index]')
				textarea.form-control(ui-tinymce='newsCtrl.tinymceOptionsComment' ng-model="commentText" placeholder='Comment')
				button.btn.btn-info.form-control(type='submit' ng-click='newsCtrl.newComment(commentText, news._id, $index)') Add comment
			.comment-wrap
				.comment(ng-repeat='comment in news.comments' ng-if='!newsCtrl.commentsViev[$parent.$index]')
					i.fa.fa-times.delete-post(ng-click='newsCtrl.deleteComment(news._id, comment._id)') 
					span.author {{comment.author.name}}
					.body(ng-bind-html='comment.body| unsafe')
					span {{comment.date | date:'yyyy-MM-dd HH:mm'}}
					span.right-thumb
						md-button.md-icon-button.fa.fa-thumbs-o-up(ng-click='newsCtrl.commentLike(news._id, comment._id, newsCtrl.user)') {{comment.likes.length}}
