#administration
	md-card
		margin 15px 5px 20px
		box-shadow none
	margin-left 10px
	.list-item
		&:hover
			background #eee
		&:after
			content ''
			clear both
			display block
		.header, .global-role, .local-role
			width 50%
			padding 5px 15px
			float left
			line-height 24px
		.local-role
			margin 0
		.header
			color rgba(0,0,0,0.54)
			font-weight bold
		.denied
			margin 20px