#code-review-widget
	md-content
		max-height 350px
	md-select
		margin-top 0
		margin-bottom 10px
		md-select-value
			padding-left 16px !important
			padding-right 16px !important
	.list-item
		.item-content
			padding 8px 16px
		a
			margin 0