#code-review-widget
	md-content
		max-height 350px
	md-select
		margin 0
		md-select-value
			padding-left 16px !important
			padding-right 16px !important
	.list-item
		.item-content
			padding 8px 16px
			.avatar
				max-width 80px
				border 2px solid white
				outline 1px solid #e0e0e0
				float left
			.info
				margin-left 85px
			.controls
				text-align center
		a
			margin 0