#add-expense-widget
	.input-container
		width 100% !important
		height 50px
		padding-bottom 0px !important
		margin-bottom 10px
	#add-expense-button
		width 100%
		margin 0px
		background-color rgb(46,125,50) !important
	.input-category-container
		width 50% !important
		padding-bottom 0px !important
		display inline-block
	#input-left-container
		width 45% !important
		padding-bottom 0px !important
		display inline-block
		input[name="Cost"]
			width 111% !important
	#input-right-container
		width 50% !important
		padding-bottom 0px !important
		display inline-block
		margin-left 16px
	#personal-check
		margin-bottom 0px !important
		margin-top 15px
	.money-left
		margin-bottom 5px