#poll-widget
  .fa
    color #ffffff !important
  .section-container
    margin-left 9px
    margin-top 5px
    margin-bottom 5px
  #vote-form
    padding 0px !important
    #vote-button
      width 95%
      margin 0px
      margin-top 5px
      margin-left 8px
      margin-bottom 10px
    strong
      display inline-block
      margin-bottom 5px
      margin-top 5px
      margin-left 9px
    .option-radio
      margin 0px !important
      margin-left 15px !important
      margin-bottom 5px !important
    .divider
      margin-bottom 5px
    .answer-container
      width initial !important