#stack-widget
	md-content
		// max-height 350px
		overflow visible
	md-select
		margin 0
		md-select-value
			padding-left 16px !important
			padding-right 16px !important
	.list-item
		.item-content
			width 100%
			padding 8px 8px
			float left
			position relative
			border-bottom solid 1px rgba(0,0,0,0.12)
		a
			margin 0
	.stack-av
		float left
		width 20%
		padding 3px
	.stack-body
		float left
		width 80%
		padding 2px
		b
			font-size .9em
	.stack-body:after
		content "."
		visibility hidden
		display block
		height 0
		clear both
	.stack-votes
		position absolute
		bottom 8px
		right 8px
		color black
		i
			color inherit