body
	margin 0
.header
	justify-content space-between
	display flex
	height 70px
	background black
	top 0
	padding 5px 15px 5px 15px
	
.logo
	height 100%
.searchBar
	border-radius 5px 0 0 5px
.searchBtn
	border-radius 0 5px 5px 0
	border none
	
.buttons
	align-self center
	display flex

#userName
	margin-left 20px
	
#userProfile
	padding-right 10px
	display flex
	justify-content flex-end
	align-items center
	height 30px
	border none
	border-radius 5px
	background #FFA800
	cursor pointer
	color white
	margin-left 10px
.avatar
	height 95%
	border 1px solid #FFA800
	border-radius 5px
	
#appsBtn
	border none
	height 30px
	width 30px
	border-radius 5px
	background #FFA800
	cursor pointer
	margin-left 10px

#notificationBtn
	margin-left 10px
	padding-top 30px
	background-color black
	border none
	float right
	width 34px
	background-image url(http://icons.iconseeker.com/png/32/winter-wonderland/bell-6.png)
	background-repeat no-repeat
	cursor pointer

.notificationBlock
	background #FFA800
	min-height 300px
	width 300px
	border-radius 20px
	right 0
	position absolute
	visibility hidden
	&:before
		width 0 
		height 0 
		border-left 20px solid transparent
		border-right 20px solid transparent
		border-bottom 20px solid #FFA800
		content ''
		margin-top -20px
		margin-left 245px
		position absolute
		
.appsBlock
	background #FFA800
	min-height 300px
	width 300px
	border-radius 20px
	right 0
	position absolute
	visibility hidden
	&:before
		width 0 
		height 0 
		border-left 20px solid transparent
		border-right 20px solid transparent
		border-bottom 20px solid #FFA800
		content ''
		margin-top -20px
		margin-left 205px
		position absolute
	
button
	transition all .1s linear
	&:active
		transform translateY(3px)