*
	outline none

::-webkit-scrollbar
	width 8px

::-webkit-scrollbar-track
	background #eaedf2

::-webkit-scrollbar-thumb
	background #bbb

.news-message.ng-submitted, .comment-form.ng-submitted, .comment-form-2.ng-submitted
	input.ng-invalid, .validation .mce-edit-area.mce-container.mce-panel
		border 1px solid #FA787E !important
form[name=newsForm]
	padding 10px

.news-editable-title
	border-bottom 2px dashed #1f8de4
	outline none
.news-editable-title.mce-edit-focus
	border-bottom none

.news-wrapper
	cursor default !important
.modal-post
	display flex
	background rgba(0, 0, 0, 0.7) !important
	position fixed !important
	top 60px
	bottom 0px
	left 0px
	right 0px
	z-index 999
	margin 0 !important
	padding 10px 0 !important
	overflow auto
	border none !important
	.news-wrapper
		padding 30px
		background #fff
		margin auto
		width 760px
		position relative
		/*border 1px solid #ccc*/
		border-radius 10px
		/*&:after
			content ''
			position absolute
			top -11px
			left -11px
			right -11px
			bottom -11px
			background #eaedf2
			z-index -1
			border-radius 10px*/
		.title-ne
			cursor default !important
		.news-2
			padding 20px 30px !important
		md-card
			margin 0 !important
		.pack-controls, .news-controls-2
			display none !important
#weekly
	.news-wrapper
		padding 0


#view-packs
	.uncollapsed
		max-height initial


#company
	.md-primary
		background #2196f3
#sandbox
	.md-primary
		background #009688
/*#weekly
	.md-primary
		background #9E9D24*/
.comment-wrap
	background ghostwhite

#main
	position absolute
	top 49px
	left 0
	right 0
	overflow auto
	max-width 1000px
	margin auto
	bottom 60px
	width 100%


#header
	position fixed
	width 100%
	z-index 200

#all-content
	max-width 1280px
	position fixed
	width 700px
	height 100%
	top 60px
	align-self center
	left 0
	right 220px
	margin-left auto
	margin-right auto
	padding-bottom 60px
	bottom 70px
	background #fff
/*#right
	position absolute
	top 0
	right 0
	bottom 0
	overflow auto
	margin 0*/
#content
	margin 0


.title
	.title-text
		display block
		width 80%
		float left
	.title-ctrls
		display block
		width 20%
		float right
		margin 0 !important
		text-align right
		button
			height 30px
			width 30px
			line-height 30px
	&:after
		content ''
		display block
		clear both





#news-viev
	background #eaedf2
	width 100%
	margin 0 auto
	height 100%


body
	font 0.8em Arial, Helvetica, sans-serif
	color #313131

a
	color #313131
	margin-left 10px
	cursor pointer
i
	cursor pointer
aside
	width 404px

#content
	& > .news-massage
		&:first-child
			margin-top 10px
.news
	&::-webkit-scrollbar
		display none

.allow
	background #EDEDED
	padding 10px
	div
		margin-top 5px
		div
			background-color #bbdefb
			color #85191F
			padding 2px 10px
			border-radius 19px
			margin 5px
			display inline-block
			i
				margin 3px 0 0 5px
.comments-count
	margin-top -18px
	float right
	cursor pointer
	margin-left 10px

/*.tabsdemoDynamicHeight
	max-width 1000px
	margin auto*/

.news
	/*max-width 1000px*/
	margin auto
	/*max-height 700px*/
	/*max-height 800px*/
	overflow-y auto
	.title
		padding 17px
		background #2196f3
		color #e3f2fd
		font-size 1.5em
		span.comments-count
			margin-top -8px
			.fa
				color #cfd8dc
	.delete-post
		color #e57373
		float right
		opacity 0.2
		margin-right 15px
	.edit-post
		color black
	.delete-post
		&:hover
			opacity 1
	.body
		.fa
			float right
	.footer
		border-top 2px solid #e0e0e0
		padding 10px
		background #f5f5f5
		margin-top 10px
	.comments
		/*padding 10px*/
		.comment, button
			margin-top 5px
			.body, .footer
				padding 0

.inner-news
	/*padding 10px*/
	margin 10px
	overflow auto
	max-height 500px

md-dialog
	width 800px
	border-radius 0px
	form
		padding 0px !important
		md-dialog-content
			/*width 800px*/
			max-height 810px
			padding 0px !important
		.title-modal
			width 100%
		.title
			display inline-block
		.md-button
			width auto !important
		.delete-post
				margin-right 0px !important
		#remove-button
			padding-top 5px
			i
				color #e57373
		.delete-post
			color #e57373
			float right
			margin-top -10px
			opacity: .2;
		.edit-post
			color black
		.body
			padding 10px
			overflow auto
			.fa
				float right
		.footer
			border-top 1px solid #e0e0e0
			padding 13px
			background #f5f5f5
			margin-top 10px
			.comments-count
				margin-top -15px
				float right
				cursor pointer
				margin-left 10px
		.comments
			.comment, button
				margin-top 5px
				.body, .footer
					padding 0

aside#right
	float right
	position absolute
	right -400px
	overflow auto
	top 0
	bottom 60px

	md-card
		margin 20px

aside#left
	float left
	width 180px
	position absolute
	left -180px
	overflow auto
.news-message
	/*margin 5px 5px 20px*/
	/*box-shadow 0px 3px 5px -1px rgba(0, 0, 0, 0.14), 0px 6px 10px 0px rgba(0, 0, 0, 0.098), 0px 1px 18px 0px rgba(0, 0, 0, 0.084)*/
	img.title-img
		float left
		margin -4px 10px 0px -5px
		height 39px
	h3
		margin 0 0 5px 0

/*.news-message
	padding 10px*/

/*input
	&.form-control
		width 200px*/



#user-log
	float right
	margin-right 20px
	span
		color #fff
		font 0.6em Arial, Helvetica, sans-serif
		margin 0 10px

.btn-warning
	margin-left 10px

textarea
	margin-top 10px

.comment-wrap
	max-height 295px
	overflow-y auto
	width 100%
	.comment
		//background #EBE9F7
		border-top 1px solid #e0e0e0
		padding 10px
		.right-thumb
			float right
			margin-top -10px !important

.tabs
	div
		background #D2D1FF
		display inline-block
		cursor pointer
		width 50%
		font-size 2em
		text-align center
		padding 5px

.fa
	color #1E1E1E

.fa-comment-o
	padding-left 10px

.form-group
	input
		margin-bottom 15px

.mce-flow-layout
	background #eceff1 !important

.mce-btn
	button
		background #eceff1 !important

.mce-menubar,.mce-panel 
	border-color #eceff1 !important
	
/*#sandbox
	.news-message
		.mce-container.mce-toolbar
			.mce-flow-layout
				background rgb(33,150,243) !important
		.mce-btn
			button
				background rgb(33,150,243) !important
		.mce-menubar, .mce-panel, .mce-stack-layout-item, .mce-widget.mce-btn
			background rgb(33,150,243) !important*/

	

/*md-input-container
	width 200px
*/
md-icon
	margin 13px

.md-create
	color #76ff03

.md-cancel
	color #ffa726

md-tooltip
	margin-top -10px

#content
	.news
		.body
			img
				float none

#sandbox
	.title
		background #009688 !important
		color #e3f2fd  !important
		span.comments-count
			margin-top -8px
			.fa
				color #cfd8dc
	/*.avatar
		height 40px
		margin -5px 10px 0 -5px*/
	.btn-comment
		background #d500f9
		color #fff


#left-block
	display none
.showMenu
	display initial !important
#menu-btn
	display none
.md-chips
	.md-chip
		.md-chip-remove
			md-icon
				top 8%
				left 20%

.author
	color #ffa000
	margin-right 5px

.mobile-aside
	display none

.tabs-icon
	display none









/*#company
	.news-2
		border 1px solid lightgrey
		margin 0 10px 30px
		margin-bottom
		&:hover
			background lightgrey
		.news-title-2
			background lightgrey
			padding 10px
			font-weight bold
			font-size 1.4em
		.news-body-2
			padding 10px
		.news-footer-2
			padding 10px
			border-top 1px solid lightgrey
			.comments-count-2
				outline none
				float right
			.likes-count-2
				outline none
				float right
				margin-right 10px
		.comments-2
			background #eceff1
			padding 5px
			.md-primary
				background grey
			.comment-2
				background white
				border 1px solid lightgrey
				margin-top 10px
				&:first-child
					margin-top 0
				.comment-body-2
					padding 10px
				.comment-footer-2
					padding 10px
					border-top 1px solid lightgrey
					.likes-count-2
						outline none
						float right*/

ul#nav-list
	list-style none
	/*margin-left 200px*/
	li.nav-item
		padding-left 10px
		transition background-color 0.2s ease-out
		border-bottom 1px solid #C3BFBF
		&:hover
			background-color #fff
			transition background-color 0.2s ease-in
			border-bottom 1px solid #2196f3
			a
				color #2196f3
				text-decoration none
				transition color 0.2s ease-in
		a
			line-height 40px
			transition color 0.2s ease-out
			font-size 16px
			display block
			margin 0
			color #777
			img
				height 25px
				margin-right 10px



.all-likes
	width 920px
	border-radius 10px
	padding 10px
	md-dialog-content
		overflow overlay
	.likes-list
		list-style none
		margin 0
		padding 0
		.list-item
			float left
			padding 5px
			margin 0
			width 300px
			line-height 45px
			a 
				margin 0
				text-decoration none
			&:hover
				background #eaedf2
			.avatar
				width 45px
				height 45px
				float left
			.user
				text-align center
			&:after
				content ''
				clear both
				display block
		&:after
			content ''
			clear both
			display block

.select-news
	width 320px
	border-radius 10px
	padding 10px
	md-dialog-content
		overflow overlay
	.news-list
		list-style none
		margin 0
		padding 0
		.news-item
			float left
			padding 5px
			margin 0
			width 300px
			/*line-height 60px*/
			text-align center
			&:hover
				background #eaedf2
			&:after
				content ''
				clear both
				display block
		&:after
			content ''
			clear both
			display block

.news-input-wrapper
	form
		margin 10px
	.news-input-cover
		height 30px
		border 1px solid #aaa
		margin 10px 50px
		color #aaa
		cursor text
		line-height 28px
		padding-left 10px
		background #fff

#company, #weekly, #sandbox
	.comment-form-2
		position relative
		.controls
			position absolute
			bottom -5px
			left -7px
	.comment-form
		position relative
		textarea[name='newComment']
			margin auto
			width 80%
			display block
			height 50px
			outline none
			border 1px solid rgb(224, 224, 224)
			padding 7px
		button[type='submit']
			margin 10px 0px
			position absolute
			bottom -9px
		&:after
			content ''
			clear both
			display block
	.search
		margin-top 15px
		button
			margin-left 20px
			margin-top 0
		input[name='search']
			outline none
			border 1px solid rgb(224, 224, 224)
			border-radius 16px
			font-size 16px
			line-height 30px
			height 30px
			padding-left 28px
			float right
			&:focus
				border 2px solid #2196f3
		.search-icon
			float right
			position relative
			top 8px
			left -218px
			color #aaa
		&:after
			content ''
			clear both
			display block
	.likes-user-list
		position absolute
		display none
		right 0
		bottom 20px
		background #777
		color #fff
		white-space nowrap
		text-align center
		a 
			color #fff
			margin 0
			text-decoration none
		.user
			padding 5px
			&:hover
				background rgb(33,150,243)
	.news-message
		input[name='title']
			width 100%
			outline none
			border none
			border-bottom 1px solid #e0e0e0
			padding 0 5px 10px
			font-size 16px
			&:focus
				border-bottom 2px solid #2196f3
	.commenting
		background #FBFBFB
	.news-2
		/*border-bottom 1px solid lightgrey*/
		/*margin 0 10px*/
		padding 20px
		border-bottom 1px solid #EAEDF2
		/*border-top 15px solid #eaedf2*/
		&:hover
			background #FBFBFB
			.news-controls-2
				display initial
		&:nth-child(2)
			border-top none
		.news-avatar
			width 45px
			height 45px
			float left
			margin-right 8px
		.news-title-2
			/*background lightgrey*/
			margin-bottom 10px
			font-size 35px
			color rgb(31, 141, 228)
			span
				outline none
		.news-body-2
			margin 15px 0
			img
				max-width 100%
				height auto
		.comments-count-2
			color #1f8de4
			outline none
			margin-right 10px
		.likes-count-2
			outline none
			margin-right 10px
			position relative
			&:hover > .likes-user-list
				display block
		.comments-2
			max-height 400px
			overflow auto
			/*background #FBFBFB*/
			/*padding 5px*/
			.comment-2
				/*position relative*/
				padding 5px 15px
				background white
				/*margin-top 5px*/
				border-bottom 1px solid lightgrey
				&:hover
					/*background #eceff1*/
					.comment-controls-2
						display initial
				/*&:first-child
					margin-top 0*/
				/*.comment-body-2
					padding 10px
					padding-bottom 0*/
				.section
					.likes-count-2
						span
							outline none
				.avatar
					/*position absolute
					height 100%*/
					width 45px
					height 45px
					float left
					margin 3px 10px 0 0
					border-radius 50%
					/*img
						max-height 60px
						max-width 60px*/
				.comment-section
					margin-left 55px
					/*.footer-2
						margin-top 15px
						margin-bottom 5px*/
				textarea[name='oldComment']
					width 100%
					outline none
					border 1px solid rgb(224, 224, 224)
					margin-top 10px
					padding 7px
		.author-2, .footer-2
			/*margin-bottom 5px*/
			a
				margin 0
				font-weight bold
				font-size smaller
		.date-2
			font-weight bold
			color #999
			font-size smaller
		.date-edited-2
			color #999
			font-size smaller
	.comment-section, .news-title-2
		position relative
	.go-right
		float right
	.section, .news-title-2
		/*padding 10px*/
		&:after
			content ''
			clear both
			display block
	.clear
		&:after
			content ''
			clear both
			display block
	.news-controls-2, .comment-controls-2
		display none
		position absolute
		top 0
		right 0
		.edit-2, .undo-2, .save-2
			color #777
			outline none
			font-size 16px
		.delete-2, .save-2
			margin-left 15px
			color rgb(255,158,128)
			outline none
			font-size 16px
		.save-2
			color #777
	.news-controls-2
		padding-right 10px
	.comment-controls-2
		padding 5px
		background white
	.new-comment-btn
		margin 0 20px 20px

#sandbox
	.news-message
		position relative
		button[type='submit']
			margin 10px 0px
			position absolute
			bottom 1px
	.news-2
		/*img
			margin auto
			display block*/
		.news-title-2
			padding 0
			margin 0
			font-size initial
	.news-form-2
		position relative
		.controls
			position absolute
			bottom 5px
			left 3px

#weekly
	.pack
		position relative
		&:hover
			.uncollapsed
				.pack-controls
					display initial
		.pack-controls
			display none
			position absolute
			padding-right 10px
			top 50px
			right 15px
			.edit-2
				margin-left 15px
				color #777
				outline none
				font-size 16px
			.delete-2
				margin-left 15px
				color rgb(255,158,128)
				outline none
				font-size 16px
	.no-padding
		padding 0px !important
	.list-item
		padding 10px
		position relative
		span.news-title
			font-size 35px
			color rgb(31, 141, 228)
		button
			span
				padding 0
		.news-controls-2
			display none
			position absolute
			padding-right 10px
			top 25px
			right 10px
			.edit-2
				color #777
				outline none
				font-size 16px
			.delete-2
				margin-left 15px
				color rgb(255,158,128)
				outline none
				font-size 16px
		&:hover
			background #FBFBFB
			.news-controls-2
				display initial
	.pack-author
		padding 12px
		border-bottom 1px solid #EAEDF2
	.center
		text-align center
	#view-packs
		md-dialog-content
			overflow hidden
	.collapsed-head
		background-color #EFF8FF !important
		transition background-color 0.2s ease-out
		.md-toolbar-tools
			color #2196f3
			transition color 0.2s ease-out
			&:hover
				color #fff
				background-color #2196f3 !important
				
	.hidden-pack
		background-color #B3B3B3 !important
		
	.collapsed-head.hidden-pack
		background-color #EFEFEF !important
		.md-toolbar-tools
			color #B3B3B3
			&:hover
				color #fff
				background-color #B3B3B3 !important

	#new-pack, #edit-pack
		h2.editable-title
			border-bottom 1px dashed #fff
			outline none
		h2.editable-title.mce-edit-focus
			border-bottom none




.empty-status
	color rgb(225, 225, 225)

md-toolbar
	outline none
	min-height initial
	transition background-color 0.2s ease-in
	&:hover
		background-color #2196f3 !important
		transition background-color 0.2s ease-in
		.md-toolbar-tools
			color #fff
			transition color 0.2s ease-in
	.md-toolbar-tools
		height 40px
		font-size 16px
		transition color 0.2s ease-in
		transition font-size 0.2s ease-in
.search-icon
	position relative

.md-raised.md-primary.md-button, md-card
	box-shadow none


.collapsed
	max-height 0
	transition max-height 0.4s ease-out
	overflow hidden

.uncollapsed
	max-height 1000px
	transition max-height 0.4s ease-in



#create-news
	.add-news-helper
		text-align center
		padding 10px
		background #EAEDF2
		border-bottom 1px solid #E1E1E1

.no-news-found
	text-align center
	padding 20px
	border-bottom 1px solid #eaedf2
	&:hover
		background #fbfbfb
	.line
		margin-bottom 10px
		font-size 35px
		color #1f8de4

#menu-gen
	display none
	padding-right 15px
	i
		color #fff
		font-size 24px

.show-gen-menu
	display flex !important

#modal-menus
	display none
	top 0
	bottom 0
	left 0
	right 0
	background rgba(0,0,0,.7)
	z-index 999
	position fixed
	#menus-wrapper
		background #fff
		padding 10px
		border-radius 10px
		margin auto
		.gen-menu-item
			padding 10px
			text-align center
			font-size 25px
			min-width 250px
			&:hover
				background #eaedf2

.gen-menu-item
	display none
#fake-nav
	display none
	overflow auto

.search-group
	float right

.mce-primary
	button
		color initial !important
#intranet-container
	ul
		padding-left 0


@media screen and (max-width: 1279px)
	#left
		display none
		left 0 !important
		right 0 !important
		background rgba(0,0,0,.7)
		z-index 1000
		margin auto
		width 100% !important
		position fixed !important
		top 60px !important
		bottom 0 !important
		#intranet-container
			background #EAEDF2
			padding 10px
			width 424px
			margin auto
			border-radius 10px
			ul
				text-align center
				li
					padding 0
				img
					display none
	#all-content
		left -180px
	.show-1279
		display block
	#menu-gen
		display block



@media screen and (max-width: 1119px)
	#right
		display none
		left 0 !important
		right 0 !important
		background rgba(0,0,0,.7)
		z-index 1000
		margin auto
		width 100%
		position fixed !important
		top 60px !important
		bottom 0 !important
		#widget-container
			background #EAEDF2
			padding 10px
			width 424px
			margin auto
			border-radius 10px
	#all-content
		right -180px
	.show-1119
		display block

@media screen and (max-width: 844px)
	.modal-post
		.news-wrapper
			width 90%

@media screen and (max-width: 700px)
	#all-content
		width 100%

@media screen and (max-width: 549px)
	.tabsdemoDynamicHeight
		display none
	#fake-nav
		position fixed
		z-index 1000
		background rgba(0,0,0,.7)
		left 0
		right 0
		bottom 0
		top 60px
		ul
			margin auto
			width 424px
			background #EAEDF2
			list-style none
			padding 20px
			border-radius 10px
			li
				transition background-color .2s ease-out
				border-bottom 1px solid #c3bfbf
				line-height 40px
				text-align center
				&:hover
					background-color #fff
					transition: background-color .2s ease-in
					border-bottom 1px solid #2196f3
	#main
		top 0
	.show-549
		display block
		
@media screen and (max-width: 480px)
	.search
		text-align center
		button
			width 90%
		.search-group
			width 100%
			.search-icon
				float none !important
				top -1px !important
				left 23px !important
			input[name='search']
				width 90%
				float none !important
