.news-message.ng-submitted, #comment-form.ng-submitted
	input.ng-invalid, .validation .mce-edit-area.mce-container.mce-panel
		border 1px solid #FA787E !important
form[name=newsForm]
	padding 10px
	
#company
	.md-primary
		background #2196f3
#sandbox
	.md-primary
		background #009688
#weekly
	.md-primary
		background #ad1457
.comment-wrap
	background ghostwhite


#header
	position fixed
	width 100%
	z-index 200

#all-content
	position fixed
	top 60px
	bottom 0
	left 0
	right 0
/*#right
	position absolute
	top 0
	right 0
	bottom 0
	overflow auto
	margin 0*/
#content
	position absolute
	top 0
	right 400px
	bottom 0
	overflow auto
	margin 0
	left 400px
	/*.news*/

.title
	.title-text
		display block
		width 80%
		float left
	.title-ctrls
		display block
		width 20%
		float right
		margin 0 !important
		text-align right
		button
			height 30px
			width 30px
			line-height 30px
	&:after
		content ''
		display block
		clear both





#news-viev
	width 100%
	margin 0 auto
*
	padding 0
	margin 0

body
	font 0.8em Arial, Helvetica, sans-serif
	background #D7E1F2
	color #313131

a
	color #313131
	margin-left 10px
	cursor pointer

#main
	max-width 1000px
	margin auto
i
	cursor pointer
aside
	width 380px
	margin 1%

#content
	/*margin 0 400px*/
	padding 10px
	height 100%
	& > .news-massage
		&:first-child
			margin-top 10px
.news
	&::-webkit-scrollbar
		display none

.allow
	background #EDEDED
	padding 10px
	div
		margin-top 5px
		div
			background-color #bbdefb
			color #85191F
			padding 2px 10px
			border-radius 19px
			margin 5px
			display inline-block
			i
				margin 3px 0 0 5px
.comments-count
	margin-top -18px
	float right
	cursor pointer
	margin-left 10px

.tabsdemoDynamicHeight
	max-width 1000px
	margin auto

.news
	max-width 1000px
	margin auto
	/*max-height 700px*/
	/*max-height 800px*/
	overflow-y auto
	.title
		padding 17px
		background #2196f3
		color #e3f2fd
		font-size 1.5em
		span.comments-count
			margin-top -8px
			.fa
				color #cfd8dc
	.delete-post
		color #e57373
		float right
		opacity 0.2
		margin-right 15px
	.delete-post
		&:hover
			opacity 1
	.body
		.fa
			float right
	.footer
		border-top 2px solid #e0e0e0
		padding 10px
		background #f5f5f5
		margin-top 10px
	.comments
		/*padding 10px*/
		.comment, button
			margin-top 5px
			.body, .footer
				padding 0

.inner-news
	/*padding 10px*/
	margin 10px
	overflow auto
	max-height 500px

md-dialog
	border-radius 0px
	form
		padding 0px !important
		md-dialog-content
			width 800px
			max-height 810px
			padding 0px !important
		.title-modal
			width 100%
		.title
			display inline-block
		.md-button
			width auto !important
		.delete-post
				margin-right 0px !important
		#remove-button
			padding-top 5px
			i
				color #e57373
		.delete-post
			color #e57373
			float right
			margin-top -10px
			opacity: .2;
		.body
			padding 10px
			.fa
				float right
		.footer
			border-top 1px solid #e0e0e0
			padding 13px
			background #f5f5f5
			margin-top 10px
			.comments-count
				margin-top -15px
				float right
				cursor pointer
				margin-left 10px
		.comments
			/*padding 10px*/
			.comment, button
				margin-top 5px
				.body, .footer
					padding 0

aside#right
	float right
	color #000

aside#left
	float left
	color #000

.news-message
	margin 5px 5px 20px
	box-shadow 0px 3px 5px -1px rgba(0, 0, 0, 0.14), 0px 6px 10px 0px rgba(0, 0, 0, 0.098), 0px 1px 18px 0px rgba(0, 0, 0, 0.084)
	img.title-img
		float left
		margin -4px 10px 0px -5px
		height 39px
	h3
		margin 0 0 5px 0

/*.news-message
	padding 10px*/

/*input
	&.form-control
		width 200px*/

.search
	width 90%
	margin-top 15px
	button
		float right
		margin-top -60px

#user-log
	float right
	margin-right 20px
	span
		color #fff
		font 0.6em Arial, Helvetica, sans-serif
		margin 0 10px

.btn-warning
	margin-left 10px

textarea
	margin-top 10px

.comment-wrap
	max-height 295px
	overflow-y auto
	width 100%
	.comment
		//background #EBE9F7
		border-top 1px solid #e0e0e0
		padding 10px
		.right-thumb
			float right
			margin-top -10px !important

.tabs
	div
		background #D2D1FF
		display inline-block
		cursor pointer
		width 50%
		font-size 2em
		text-align center
		padding 5px

.fa
	color #1E1E1E

.fa-comment-o
	padding-left 10px

.form-group
	input
		margin-bottom 15px

.mce-flow-layout
	background #eceff1 !important

.mce-btn
	button
		background #eceff1 !important

.mce-menubar,.mce-panel 
	border-color #eceff1 !important

md-input-container
	width 200px

md-icon
	margin 13px

.md-create
	color #76ff03

.md-cancel
	color #ffa726

md-tooltip
	margin-top -10px

#content
	.news
		.body
			img
				float none

#sandbox
	.title
		background #009688 !important
		color #e3f2fd  !important
		span.comments-count
			margin-top -8px
			.fa
				color #cfd8dc
	.avatar
		height 40px
		margin -5px 10px 0 -5px
	.btn-comment
		background #d500f9
		color #fff

#weekly
	.title
		background rgb(173,20,87) !important
		color #ffebee   !important
		span.comments-count
			margin-top -8px
			.fa
				color #cfd8dc
#left-block
	display none
.showMenu
	display initial !important
#menu-btn
	display none
.md-chips
	.md-chip
		.md-chip-remove
			md-icon
				top 8%
				left 20%

.author
	color #ffa000
	margin-right 5px

.mobile-aside
	display none

.tabs-icon
	display none


@media screen and (max-width: 1600px)
	#right
		position absolute
		top 0
		right 0
		bottom 0
		overflow auto
		margin 0
		padding-bottom 20px
	#content
		left 0

	/*#content
		margin 0 390px 0 50px*/
	aside#left
		display none
	#left-block
		display block
	md-card
		margin 20px 10px 0 0

@media screen and (max-width: 1090px)
	#content
		/*margin 60px 10px 10px*/
		right 45px
	.news
		margin-right 0
	header
		position fixed
		width 100%
		z-index 3
		top 0
	aside#right
		float none
		width 100%
		margin-top 54px
		display none
	.mobile-aside
		display block
		right 1px
		top 90px
		position fixed
		z-index 4
		li
			width 25px
			height 25px
			margin 20px 0
			overflow hidden
			.icon-widget
				position fixed
				right 5px
				display block
				width 40px
				height 5em
				line-height 5em
				background #E65100
				text-align center
				z-index 5
				color #FFFFFF
		li
			&:hover
				width 380px
				height auto
				.icon-widget
					height 64px
				.icon-widget
					& + div
						margin-top -20px
						margin-right -5px
	@media screen and (max-height: 740px)
		.mobile-aside
			display none
		#content
			right 0

/*@media screen and (max-width: 750px)
	.tabs-icon
		display inline
	.tab-text
		display none*/

@media screen and (max-width: 500px)
	.hide-mobile
		display none
	/*#content
		margin 60px 0 0*/
		
	/*.news
		margin 0 45px 0 0
	.news-message 
		margin 0*/