*
  padding 0
  margin 0

body
  font 0.8em Arial, Helvetica, sans-serif
  background #D7E1F2
  color #313131
  height 100%
  background #000

a
  color #313131

#container
  width 100%
  margin 0 auto

header
  font-size 2.2em
  text-align center
  padding 5px
  background #471CFF
  span
    margin-left 200px
    color #fff

nav, aside
  float left
  width 300px
  padding 5px

#content
  background #FFFFFF
  margin 0 370px
  padding 10px
  height 100%
  & > .news-massage
    &:first-child
      margin-top 10px

aside
  float right
  color #000

.news-massage
  width 95%
  margin 20px auto
  background #E1E0E0
  padding 10px
  box-shadow 3px 3px 5px rgba(0,0,0,0.3)
  border 1px solid #ccc
  img
    float left
    margin 5px 10px 5px 0
  h3
    margin 0 0 5px 0

.person-info
  margin-top 10px

.coments-info
  float right
  margin-top -15px
  span
    cursor pointer
    &:hover
      color #34015E

.load-more
  color #4161EC
  text-decoration none

input
  &.form-control
    width 200px

.search
  width 90%
  margin auto
  margin-top 15px
  button
    float right
    margin-top -35px

.delete-news
  float right
  cursor pointer
  margin-top -30px
  font-weight bold
  &:hover
    color red

#user-log
  float right
  margin-right 20px
  span
    color #fff
    font italic 16pt sans-serif
    margin 0 10px

#scroll-block
  margin-top 10px
  max-height 600px
  overflow-y auto

h3
  font-style italic

